<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="reg-background">
    <div class="reg-banner">
        <h1>Rejestracja</h1>
    </div>
</header>
<form th:action="@{/registration-process}" method="post">
    <hr>
    <label for="inputFirstName">Imię</label>
    <input type="text" name="firstName" id="inputFirstName" placeholder="Imię"/>

    <label for="inputLastName">Nazwisko</label>
    <input type="text" name="lastname" id="inputLastName" placeholder="Nazwisko"/>

    <label for="inputMail">E-mail</label>
    <input type="text" name="mail" id="inputMail" placeholder="E-mail"/>

    <label for="inputStatus">Stanowisko</label>
    <input type="text" name="status" id="inputStatus" placeholder="Stanowisko"/>

    <label for="inputLogin">Login</label>
    <input type="text" name="login" id="inputLogin" placeholder="Login"/>

    <label for="inputPassword">Hasło</label>
    <input type="password" name="password" id="inputPassword" placeholder="Hasło"/>
<hr>
    <button class="btn btn-lg btn-success" type="submit">Zarejestruj się</button>
</form>
</body>
</html>
