<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="reg-background">
    <div class="reg-banner">
        <h1>Rejestracja</h1>
    </div>
</header>
<form th:action="@{/registration}" method="post" th:object="${newUser}" >
    <p>Imię: <input type="text" placeholder="Imię" th:field="*{firstName}"></p>
    <p>Nazwisko: <input type="text" placeholder="Nazwisko" th:field="*{lastName}"></p>
    <p>Stanowisko: <input type="text" placeholder="Stanowisko" th:field="*{status}"></p>
    <p>Login: <input type="text" placeholder="Login" th:field="*{login}"></p>
    <p>Hasło: <input type="password" placeholder="Hasło" th:field="*{password}"></p>

    <button class="btn btn-lg btn-success" type="submit">Zarejestruj się</button>
    <form th:action="@{/home}">
        <button type="submit">Powrót</button>
    </form>
</form>
</body>
</html>
